body {
  margin: 0;
  background: #111;
  color: #fff;
}

.slide {
  width: 1280px;
  height: 720px;
  padding: 60px;
  box-sizing: border-box;
  page-break-after: always;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1,
h2 {
  margin-bottom: 20px;
}

@media print {
  body {
    background: #fff;
    color: #000;
  }
}
